*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(img/bookshop-background.jpg); 
    background-size: cover;
}

nav{
    width: 100%;
    height: 60px;
    background-color: #fff;
}

nav p{
    font-family: Arial;
    color: #222;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

nav ul{
    float: left;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
    opacity: .8;
}

nav ul li a{
    display: block;
    font-family: Arial;
    color: black;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li{
    width: 180px;
    border-radius: 4px;
}

nav ul li ul li a{
    padding: 8px 14px;
}

nav ul li ul li a:hover{
    background-color: lightblue;
}

h1{
    color: mintcream;
    position: absolute;
    top: 19%; left: 18%;
    font-size: 100px;
    outline-color: white;
    outline-style: solid;
    outline-width: 10px;
    text-shadow: -3px 3px black;
    
}

h1.main{
    color: darkolivegreen;
    position: absolute;
    top: 19%; left: 18%;
    font-size: 100px;
    outline-color: white;
    outline-style: solid;
    outline-width: 10px;
    background-color: darkolivegreen;
    opacity: .7;
}

p.main{
    color: white;
    font-size: 30px;
    text-align: center;
    margin:0;
    padding:0;
    width: 50%;
    position: absolute;
    top: 40%; left: 25%;
    outline-color: white;
    outline-style: solid;
    outline-width: 5px;
}

p.main2{
    color: darkolivegreen;
    font-size: 30px;
    text-align: center;
    margin:0;
    padding:0;
    width: 50%;
    position: absolute;
    top: 40%; left: 25%;
    outline-color: white;
    outline-style: solid;
    outline-width: 5px;
    background-color: darkolivegreen;
    opacity: .7;
}

img.main{
    position: absolute;
    top: 80%; left: 39%;
}

p.main3{
    font-size: 50px;
    text-align: center;
    margin:0;
    padding:0;
    position: absolute;
    top: 70%; left: 25%;
    width: 50%;
    height: 60px;
    background-color: #fff;
}

table.main{
    font-size: 25px;
    text-align: center;
    margin:0;
    padding:0;
    position: absolute;
    top: 135%; left: 30%;
    width: 40%;
    height: 60px;
    background-color: #fff;
}

nav.main{
    position: absolute;
    top: 135%; left: 30%;
    width: 40%;
    height: 60px;
}

a.main{
    color: black;
}
a.main:hover{
    color: blue;
}


img.main2{
    position: absolute;
    top: 155%; left: 41.5%;
}

table.main2{
    font-size: 25px;
    text-align: center;
    margin:0;
    padding:0;
    position: absolute;
    top: 196%; left: 30%;
    width: 40%;
    height: 60px;
    background-color: #fff;
}

nav.main2{
    position: absolute;
    top: 196%; left: 30%;
    width: 40%;
    height: 60px;
}

a.main2{
    color: black;
}
a.main2:hover{
    color: blue;
}


img.main3{
    position: absolute;
    top: 220%; left: 40%;
}

table.main3{
    font-size: 25px;
    text-align: center;
    margin:0;
    padding:0;
    position: absolute;
    top: 276%; left: 30%;
    width: 40%;
    height: 60px;
    background-color: #fff;
}

nav.main3{
    position: absolute;
    top: 276%; left: 30%;
    width: 40%;
    height: 60px;
}

a.main3{
    color: black;
}
a.main3:hover{
    color: blue;
}


div{
    text-align: center;
    background-color: white;
    height: 80px;
    width: 100%;
    color: black;
    position: absolute;
    top: 310%; 
}

a.main4{
    color: black;
}
a.main4:hover{
    color: blue;
}


img.img1{
    position: absolute;
    top: 40%; left: 40%;
}

h1.la-main2{
    color: white;
    font-size: 50px;
    text-align: center;
    margin:0;
    padding:0;
    width: 50%;
    position: absolute;
    top: 10%; left: 25%;
    outline-color: white;
    outline-style: solid;
    outline-width: 5px;
}

h1.la-main{
    color: darkolivegreen;
    font-size: 50px;
    text-align: center;
    margin:0;
    padding:0;
    width: 50%;
    position: absolute;
    top: 10%; left: 25%;
    outline-color: white;
    outline-style: solid;
    outline-width: 5px;
    background-color: darkolivegreen;
    opacity: .7;
}

table.la-main{
    font-size: 25px;
    text-align: center;
    margin:0;
    padding:0;
    position: absolute;
    top: 95%; left: 30%;
    width: 40%;
    height: 60px;
    background-color: #fff;
}

nav.la-main{
    position: absolute;
    top: 95%; left: 30%;
    width: 40%;
    height: 60px;
}

a.la-main{
    color: black;
}
a.la-main:hover{
    color: blue;
}


p.la-main2{
    color: white;
    font-size: 30px;
    text-align: center;
    margin:0;
    padding:0;
    width: 50%;
    position: absolute;
    top: 20%; left: 25%;
    outline-color: white;
    outline-style: solid;
    outline-width: 5px;
}

p.la-main{
    color: darkolivegreen;
    font-size: 30px;
    text-align: center;
    margin:0;
    padding:0;
    width: 50%;
    position: absolute;
    top: 20%; left: 25%;
    outline-color: white;
    outline-style: solid;
    outline-width: 5px;
    background-color: darkolivegreen;
    opacity: .7;
}

div.la-main{
    text-align: center;
    background-color: white;
    height: 80px;
    width: 100%;
    color: black;
    position: absolute;
    top: 120%; 
}


img.img2{
    position: absolute;
    top: 35%; left: 42%;
}

h1.cs-main2{
    color: white;
    font-size: 50px;
    text-align: center;
    margin:0;
    padding:0;
    width: 50%;
    position: absolute;
    top: 10%; left: 25%;
    outline-color: white;
    outline-style: solid;
    outline-width: 5px;
}

h1.cs-main{
    color: darkolivegreen;
    font-size: 50px;
    text-align: center;
    margin:0;
    padding:0;
    width: 50%;
    position: absolute;
    top: 10%; left: 25%;
    outline-color: white;
    outline-style: solid;
    outline-width: 5px;
    background-color: darkolivegreen;
    opacity: .7;
}

table.cs-main{
    font-size: 25px;
    text-align: center;
    margin:0;
    padding:0;
    position: absolute;
    top: 80%; left: 30%;
    width: 40%;
    height: 60px;
    background-color: #fff;
}

nav.cs-main{
    position: absolute;
    top: 80%; left: 30%;
    width: 40%;
    height: 60px;
}

a.cs-main{
    color: black;
}
a.cs-main:hover{
    color: blue;
}


p.cs-main2{
    color: white;
    font-size: 30px;
    text-align: center;
    margin:0;
    padding:0;
    width: 50%;
    position: absolute;
    top: 20%; left: 25%;
    outline-color: white;
    outline-style: solid;
    outline-width: 5px;
}

p.cs-main{
    color: darkolivegreen;
    font-size: 30px;
    text-align: center;
    margin:0;
    padding:0;
    width: 50%;
    position: absolute;
    top: 20%; left: 25%;
    outline-color: white;
    outline-style: solid;
    outline-width: 5px;
    background-color: darkolivegreen;
    opacity: .7;
}

div.cs-main{
    text-align: center;
    background-color: white;
    height: 80px;
    width: 100%;
    color: black;
    position: absolute;
    top: 120%; 
}


img.img3{
    position: absolute;
    top: 35%; left: 39.5%;
}

h1.wd-main2{
    color: white;
    font-size: 50px;
    text-align: center;
    margin:0;
    padding:0;
    width: 50%;
    position: absolute;
    top: 10%; left: 25%;
    outline-color: white;
    outline-style: solid;
    outline-width: 5px;
}

h1.wd-main{
    color: darkolivegreen;
    font-size: 50px;
    text-align: center;
    margin:0;
    padding:0;
    width: 50%;
    position: absolute;
    top: 10%; left: 25%;
    outline-color: white;
    outline-style: solid;
    outline-width: 5px;
    background-color: darkolivegreen;
    opacity: .7;
}

table.wd-main{
    font-size: 25px;
    text-align: center;
    margin:0;
    padding:0;
    position: absolute;
    top: 90%; left: 30%;
    width: 40%;
    height: 60px;
    background-color: #fff;
}

nav.wd-main{
    position: absolute;
    top: 90%; left: 30%;
    width: 40%;
    height: 60px;
}

a.wd-main{
    color: black;
}
a.wd-main:hover{
    color: blue;
}


p.wd-main2{
    color: white;
    font-size: 30px;
    text-align: center;
    margin:0;
    padding:0;
    width: 50%;
    position: absolute;
    top: 20%; left: 25%;
    outline-color: white;
    outline-style: solid;
    outline-width: 5px;
}

p.wd-main{
    color: darkolivegreen;
    font-size: 30px;
    text-align: center;
    margin:0;
    padding:0;
    width: 50%;
    position: absolute;
    top: 20%; left: 25%;
    outline-color: white;
    outline-style: solid;
    outline-width: 5px;
    background-color: darkolivegreen;
    opacity: .7;
}

div.wd-main{
    text-align: center;
    background-color: white;
    height: 80px;
    width: 100%;
    color: black;
    position: absolute;
    top: 120%; 
}


div.license{
    text-align: center;
    position: absolute;
    top: 317%; 
}